/* Homepage CSS */

body
{
    font-family: "Poppins", sans-serif;
    background-color:#75a6fa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items:center ;
    justify-content:space-between;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color:#00246B;
    color: white;
    position: fixed;
    top:0%;
    left: 0%;
    width:100%;
    height: 50px;
    
}

ul{
    display:flex;
}


ul li
{
    list-style: none;
}

ul li a{
    text-decoration: none;
    font-size:25px;
    margin-inline:16px;
    color:white;

}

.logo
{
    font-size:20px;
    margin-left: 10px;
    display: flex;
    align-items:center;
}

.main
{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background-color: #76a6fa;
    height:720px;
    margin-top: 55px;
    padding: 0px;
    left:0%;
    bottom: 0%;
    right: 0%;
    width:100%;
    color: white;

}

.maintext h1
{
    font-size:55px;
    font-weight: bold;
    margin-left: 25px;
}

.maintext h3
{
    font-size:25px;
    margin-left: 30px;
}

.button-main1
{
    display: inline-block;
}
.button-main1 button
{
    padding: 10px 20px;
    width:120px;
    margin-right: 30px;
    background-color: black; 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    height:40px;
    margin-top: 30px;
    margin-left: 30px;
}



.button-main2
{
    display: inline-block;
}
.button-main2 button
{
    padding: 10px 20px;
    width:120px;
    margin-right: 30px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    height:40px;
    margin-top: 30px;
    margin-left: 30px;
}



.Doctor-Image{
    width: 100%;
    height:750px;
}

.logo-image
{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.body-lr
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #76a6fa;
}


.wrapper
{
    width:620px;
    height:fit-content;
    color:white;
    background-color: #00246B;
    border-radius:12px;
    padding: 30px 40px;
    justify-content:space-between;
    border: 2px solid rgba( 255, 255, 255, .2);
    backdrop-filter: blur(50px);
    margin-top: 70px;
}

.wrapper h1
{
    margin-top:50px;
    margin-bottom:50px;
    font-size:36px;
    text-align: center;
}

.wrapper .input-box{
    position:relative; 
    width:550px;
    height:30px;
    margin:60px;
    margin-left: 5px;

}

.input-box input{
    width: 100%;
    height:100%;
    background:transparent;
    border-width: thick;
    outline:none;
    border: 3px solid black;
    border-radius:40px;
    color:white;
    padding:20px 45px 20px 20px;
    margin-bottom:40px;
    font-size: 25px;
}

.input-box input::placeholder
{
    color:white;
    font-size: 15px;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.input-box i{
    position:absolute;
    right:-50px;
    top:90%;
    transform: translate(-50%);
    font-size:25px;
}

.wrapper .remember-forgot{
    display:flex;
    justify-content:space-between;
    font-size: 20px;
    margin: -15px 0 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.remember-forgot label input{
    margin-top: 23px;
    accent-color: white;
    margin-right:3px;
    transform: scale(1.5);
}

.remember-forgot a{
    margin-top: 20px;
    color:white;
    text-decoration: none;
    margin-right: 10px;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn
{
    width:100%;
    height:65px;
    background: white;
    border: 3px solid black;
    outline:none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size:20px;
    color:#333;
    font-weight:600;
    margin-top:20px;
}


footer 
{ 
    background-color: #00246B;
    color: white;
    padding: 0; 
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative; 
    bottom: 0;
    left: 0;
    height:fit-content
}

footer .footer-content {
    text-align: center;
}

footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

footer ul li {
    display: inline;
    margin-right: 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

footer ul li i
{
    height:50px;
    width: 50px;
    right: -1000px;
}

#errorMessage  
{ 
  color: red; 
  font-size: 20px;
  text-align: center;
}



  
